<div class="background">
    <h2 class="header2">Appetizers</h2>

    <div class="appetizer-container">
        {{#each appetizer}}
        <div class="appetizer">
            <a href="/appetizer/{{_id}}">
                <h3 class="header3"> {{ appetizerName }} </h3>
                <img class="picture" src="../images/{{ picture }}" alt="" srcset="">
            </a>
        </div>

        {{/each}}
    </div>
    <br><br>
    <div class="input">
        <div class="make">
            <p class="paragraph">Add to your Recipe Journal</p>
            <a href="/appetizer/new">
                <input class="button" id="createbutton" type="submit" value="Add Appetizer">
            </a>
        </div>
        <div class="delete">

            <p class="paragraph">Delete All Appetizers</p>
            <form action="/appetizer/?_method=delete" method="POST">
                <input id="createbutton" class="button" type="submit" value="Delete All">
            </form>
        </div>
    </div>
</div>