<div id='container'>
    <a href="/appetizer">
        <div class="home">
            <img src="../images/hd-crab-and-grapefuit-glam.jpg">
            <h2>Recipe for Appetizer</h2>
        </div>
    </a>

    <a href="/dessert">
        <div class="home">
            <img src="../images/peanutpie.jpg">
            <h2>Recipe for Dessert</h2>
        </div>
    </a>

    <a href="/entree">
        <div class="home">
            <img src="../images/beef.jpg">
            <h2>Recipe for Entree</h2>
        </div>
    </a>
</div>