<!DOCTYPE>
<html>

<head>
    <title>Frank's Recipe Journal</title>
    <link rel="icon" href="/images/recipe-logo.png" type="image" sizes="20x15">
    <link rel="stylesheet" type="text/css" href="/public/style.css">
    <script src="http://code.jquery.com/jquery-2.2.0.min.js" defer></script>
    <script type="text/javascript" src="/script.js" defer></script>
</head>

<body>

    <nav>
        <div class="header">
            <a href='/'>
                <img src="/images/recipe-logo.png">
                <h1>Frank's Recipe Journal</h1>
            </a>
        </div>
        <div id="menuForCourseMeal">
            <a href="/appetizer">
                Appetizer
            </a>
            <a href="/dessert">
                Dessert
            </a>
            <a href="/entree">
                Entree
            </a>
            <br>
        </div>

    </nav>
    <main>
        {{{ body }}}
    </main>
    <div class="footer">
        <div class="contact">
            <h3>Contact Us @</h3>
            <p>(+234) 8033376581</p>
            <p>Eatright@foodmail.com</p>
            <p>1234, catch us outside, Universal</p>
        </div>
    </div>
</body>

</html>