<!DOCTYPE>
<html>

<head>
    <title>Frank's Recipe Journal</title>
    <link rel="icon" href="/images/recipe-logo.png" type="image" sizes="20x15">
    <link rel="stylesheet" type="text/css" href="/public/style.css">
    <script src="http://code.jquery.com/jquery-2.2.0.min.js" defer></script>
    <script type="text/javascript" src="/script.js" defer></script>
</head>

<body>

    <nav>
        <div id="logohome">
            <a href='/'>
                <img class="logoclass" src="/images/recipe-logo.png">
                <h1 class="header1">Frank's Recipe Journal</h1>
            </a>
        </div>
        <div id="menuForCourseMeal">
            <a href="/appetizer">
                Appetizer
            </a>
            <a href="/dessert">
                Dessert
            </a>
            <a href="/entree">
                Entree
            </a>
            <br>
        </div>

    </nav>
    <main class="body">
        {{{ body }}}
    </main>
    <div class="footer">
        <div class="copy">
            <a href="https://www.facebook.com/stfranciscollegebrasil/" class="fa fa-facebook"><img
                    src="/images/facebook.png" width="40" height="40"></a>
            <a href="https://twitter.com/sfcadmissions?lang=en" class="fa fa-twitter"><img src="/images/twitter.png"
                    width="40" height="40" margin-left="50"></a>
            <a href="https://www.linkedin.com/school/st-francis-college/" class="fa fa-linkedin"><img
                    src="/images/link.png" width="40" height="40"></a>
            <a href="https://www.youtube.com/watch?v=ixhKbHubgFY" class="fa fa-youtube"><img src="/images/youtube.png"
                    width="40" height="40"></a>
            <a href="https://www.instagram.com/sfcadmissions/?hl=en" class="fa fa-instagram"><img
                    src="/images/Instagram-Icon.png" width="40" height="40"></a>
            <div class="contact">
                <h3 class="header3">Contact Us @</h3>
                <p>(+234) 8033376581</p>
                <p>Eatright@foodmail.com</p>
                <p>1234, catch us outside, Universal</p>
            </div>
        </div>
    </div>
</body>

</html>