<main>
	<div class="herb-container edit">
		<h2>Add an Dessert!</h2>

		<a id='returnlink' href="/dessert/">Back to Home Page or click Icon</a>
		<br><br>
		<div id="edit-form" class="herb-container-show">

			<form action="/dessert" method="POST">
				<label for="name">Dessert Name</label>
				<input type="text" name="dessertName" value="" id="" placeholder="dessertName">
				<br>
				<label for="picture">Choose Picture</label>
				<input type="file" name="picture" id="">
				<br>
				<label for="directions">Directions</label>
				<input type="text" name="directions"  id="" placeholder="{{dessert.directions}}">
				<br>
				<label for="ingridents">Ingridents</label>
				<input type="text" name="ingridents" id="" placeholder="{{dessert.ingridents}}">
				<br>
				<label for="nutritionFacts">Nutrition Facts</label>
				<input type="text" name="nutritionFacts" id="" placeholder="{{dessert.nutritionFacts}}">
				<br>
				<input class="button" type="submit" value="Add Dessert">

			</form>

		</div>
	</div>
</main>