<main class="body">
	<div class="entree-container">
		<h2 class="header2">Add an Entree!</h2>

		<a id='link' href="/entree/">Back to Home Page or click Icon</a>
		<br><br>
		<div id="update-form" class="entree-container-show">

			<form action="/entree" method="POST">
				<label for="name">Entree Name</label>
				<input type="text" name="entreeName" value="" id="" placeholder="entreeName">
				<br>
				<label for="picture">Choose Picture</label>
				<input type="file" name="picture" id="">
				<br>
				<label for="directions">Directions</label>
				<input type="text" name="directions" id="" placeholder="{{entree.directions}}">
				<br>
				<label for="ingridents">Ingridents</label>
				<input type="text" name="ingridents" id="" placeholder="{{entree.ingridents}}">
				<br>
				<label for="nutritionFacts">Nutrition Facts</label>
				<input type="text" name="nutritionFacts" id="" placeholder="{{entree.nutritionFacts}}">
				<br>
				<input class="button" type="submit" value="Add Entree">

			</form>

		</div>
	</div>
</main>